body{
    background: linear-gradient(to bottom, #000000, #223189, #e1e1ef);
    margin-left: 15px;
    margin-top: 15px;
    box-sizing: border-box;
}
.container{
    padding-left: 15px;
    padding-top: 15px;
}
@media (min-width:768px){
.container{
    width: 740px;
}
}
@media (min-width:992px){
.container{
    width: 760px;
}
}
@media (min-width:1200px){
.container{
    width: 1170px;
}}
.logo img{
    width: 50px;
}
ul{
    position: absolute;
    top: 0;
    right: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: .3s;
}
li{
    transition: 0.3s;
}
header li{
    padding-left: 15px;
}
.text{
    padding: 50px;
    background: linear-gradient(to right, #244990, #ffffff);
    transition: .3s;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 40px;
}
.text:hover{
    transform: translate(-30%, -40%);

}
 .text h1{
    font-family: cursive;
    font-weight: 800;
    font-size: 35px;
}
.text p{
    font-family: monospace;
    font-size: 15px;
}
footer {
    background: linear-gradient(to right, #000000, #1a237e, #283593);
    text-align: center;
    padding: 15px;
    color: white;
    font-size: 13px;
    width: calc(100% + 330px);
    margin-left: -30px;
}
.links a{
    text-decoration: none;
    color: rgb(0 0 0);
    background-color: #ffffff;
    transition: 0.2s;
    border-radius: 10px;
    display: block;
    padding: 15px 30px;
    transition: 0.3s;
    margin-right: 10px;
}
.links a:hover{
    margin-left: 5px;
    background-color: rgb(97, 97, 111);
}
.home {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}
.table {
    width: 100%;
    background-color: white;
    position: relative;
    margin-bottom: 50%;
    transform: translate(10%, 50%);
}
.table thead {
    background-color: dimgray;
    color: white;
    transition: 0.6s;
}
thead:hover{
    background-color: cadetblue;
}
.table th,
.table td {
    padding:15px;
    text-align: center;
    border-bottom: 2px solid #eee;
    transition: 0.3s;
}
th :hover,
td:hover{
    color:goldenrod
}
input{
    width: 100%;
    position: relative;
}
.p3{
    margin: 50px;
    background-color: #eee;
    width: 500px;
    position: relative;
    left: 10%;
    height: 415px;
}
.add {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
section.p3 {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 400px
}
.field {
    margin-bottom: 15px;
}
.field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.field input,
.field textarea {
    padding: 10px;
    border-radius: 8px;
}
.field textarea {
    height: 80px;
}
button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 8px;
}
.contact {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50%;
}
.contact h1 {
  font-size: 80px;
  margin-bottom: 10px;
  color: white;
}
.contact p {
  font-size: 20px;
  opacity: 0.8;
  color: white;
}

.logos{
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.logos i{
    font-size: x-large;
    margin: 0px;
}
.logos a{
    color: white;
    margin-left: 5px;
    font-size: 50px;
}
.contact .link {
  display: block;
  font-size: 25px;
  color: #2c3e50;
  margin: 15px 0;
  text-decoration: none;
  font-weight: bold;
}
.social {
  margin-top: 20px;
  font-size: 18px;
}
.social i {
    color: white;
    font-size: 50px;
    margin-left: 10px;
}
.end{
        transform: translate(8%, 50%);
}
@media (max-width: 767px) {
    footer{
        width: 100%;
    }
    ul{
        flex-direction: column;
        padding:10px 0 ;
        width: 100%;
        position: relative;
        align-items: center;
    }
    header li {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .links a {
        padding: 10px 20px;
        font-size: 14px;
    }
    .text {
        width: 80%;
        left: 50%;
        padding: 20px;
        margin-bottom: -25%;
    }
    .text h1 {
        font-size: 24px;
    }

    .special-heading {
        font-size: 60px;
        left: 0;
        text-align: center;
    }
    
    .home {
        width: 100%;
    }
    .p3{
        margin-top: 0;
        margin-left: -40px;

    }
    .table{
            transform: translate(-3%, 20%);
    }
    .contact p{
        margin-bottom:130px;
    }
    .contact h1 {
    font-size: 70px;
    }
}

